EXPO_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=uzenqiut
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=ml_default
EXPO_PUBLIC_APP_URL=http://localhost:3000
